/*---------------LANDING PAGE------------------------*/
/*---------------HEADER------------------------*/
.Header {
  margin-bottom: 15px; }

.Header__logo {
  margin-top: 10px;
  margin-left: 15px; }

.Header__menuPrincipal {
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  float: right;
  width: 400px;
  margin-right: 25px; }

.Header__menuPrincipal--1 {
  color: #FCD4D2; }

.Header__menuPrincipal--1:hover {
  color: #999999; }

.Header__menuPrincipal--2 {
  color: #333333; }

.Header__menuPrincipal--2:hover {
  color: #999999; }

.Header__menuPrincipal--3 {
  color: #333333; }

.Header__menuPrincipal--3:hover {
  color: #999999; }

.Header__menuPrincipal--4 {
  color: #333333; }

.Header__menuPrincipal--4:hover {
  color: #999999; }

.Header__menuPrincipal--5 {
  color: #333333; }

.Header__menuPrincipal--4:hover {
  color: #999999; }

.carrouselHome {
  margin-left: 10px;
  margin-right: 10px; }

/*---------------CUERPO------------------------*/
.primeraCita {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 81%;
  font-weight: 700;
  line-height: 80%;
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .primeraCita .primeraCita span {
    font-size: 100%;
    font-weight: 300; }

.parrafo {
  margin: 0 50px 60px 40px; }

.parrafo__texto {
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
  grid-area: Parrafo;
  align-items: start;
  transition: color 1s;
  animation-duration: 3s;
  animation-name: aparecer;
  width: 600px;
  margin-left: 50px; }

.parrafo__texto:hover {
  color: #999999;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
  grid-area: Parrafo;
  align-items: start; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.Imagenes {
  display: grid;
  grid-template-rows: 240px;
  grid-template-columns: 20% 20% 20% 35%;
  grid-column-gap: 17px;
  grid-row-gap: 16px;
  grid-template-areas: "Imagen1 Imagen2 Imagen3 Imagen4" "Imagen1 Imagen5 Imagen5 Imagen6";
  margin: 0 50px 50px 50px;
  transition: 1s;
  animation-duration: 3s;
  animation-name: aparecer; }

.imagenes--1 {
  grid-area: Imagen1;
  justify-items: center;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenes--1:hover {
  grid-area: Imagen1;
  justify-items: center;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenes--2 {
  grid-area: Imagen2;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenes--2:hover {
  grid-area: Imagen2;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenes--3 {
  grid-area: Imagen3;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenes--3:hover {
  grid-area: Imagen3;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenes--4 {
  grid-area: Imagen4;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenes--4:hover {
  grid-area: Imagen4;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenes--5 {
  grid-area: Imagen5;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenes--5:hover {
  grid-area: Imagen5;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenes--6 {
  grid-area: Imagen6;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenes--6:hover {
  grid-area: Imagen6;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

@keyframes un_efecto {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1; }
  50% {
    width: 98%;
    height: 98%;
    opacity: 0.6; }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1; } }

.segundaCita {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 420%;
  font-weight: 700;
  line-height: auto;
  margin-top: 10px;
  margin-bottom: 70px; }

.segundaCita em {
  color: #999999; }

.container__contactoTitulo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 168%;
  font-weight: 300;
  font-weight: 700; }

.form-group {
  color: #999999;
  font-family: 'Raleway', sans-serif;
  font-size: 140%;
  font-weight: 300; }
  .form-group .btn {
    color: #697FB7;
    background-color: #DAE0F7;
    width: 100px;
    border: none; }
    .form-group .btn :hover {
      color: #DD817F;
      background-color: #FCD4D2;
      width: 100px;
      border: none;
      flex: end; }

/*---------------FOOTER------------------------*/
.footer__parrafo {
  color: #666666;
  font-size: 110%;
  font-weight: 700;
  font-family: "Cormorant Garamond";
  float: left;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 40px; }

.footer__redes {
  color: #666666;
  font-size: 110%;
  font-weight: 700;
  font-family: "Cormorant Garamond";
  width: 15%;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 50px; }

/*---------------SECCION NOSOTROS------------------------*/
.HeaderNosotros__Imagen {
  margin: 15px 15px 15px 15px; }

.TextoNosotros {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 50% 50%;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  grid-template-areas: "fUnoNosotros pUnoNosotros" "IDosNosotros fDosNosotros";
  margin: 60px 120px 0px 120px; }

.TextoNosotros__frase {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 250%;
  font-weight: 700;
  line-height: 45px; }

.TextoNosotros__frase--1, .TextoNosotros__frase2 {
  grid-area: fUnoNosotros;
  width: 90%;
  padding: 20px;
  line-height: 45px; }

.TextoNosotros__frase2 {
  grid-area: fDosNosotros; }

.TextoNosotros__parrafo {
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-size: 100%; }

.TextoNosotros__parrafo--1 {
  grid-area: pUnoNosotros;
  font-weight: 300;
  margin-top: 0px; }

.ImgNosotros__imagen--2 {
  grid-area: IDosNosotros;
  margin-top: -30px;
  border: solid 1px #FCD4D2; }

/*---------------SECCION PRODUCTOS------------------------*/
.HeaderProductos__imagen {
  margin: 15px 15px 15px 15px; }

.HeaderProductos__cita {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 81%;
  font-weight: 700;
  line-height: 80%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .HeaderProductos__cita .--span {
    font-size: 100%;
    font-weight: 300; }

.ImagenesProductos {
  display: grid;
  grid-template-rows: 240px;
  grid-template-columns: 20% 20% 20% 35%;
  grid-column-gap: 17px;
  grid-row-gap: 16px;
  grid-template-areas: "Imagen1 Imagen2 Imagen3 Imagen4" "Imagen1 Imagen5 Imagen5 Imagen6";
  margin: 0 50px 20px 50px;
  transition: 1s;
  animation-duration: 3s;
  animation-name: aparecer; }

.imagenesp--1 {
  grid-area: Imagen1;
  justify-items: center;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--1:hover {
  grid-area: Imagen1;
  justify-items: center;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenesp--2 {
  grid-area: Imagen2;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--2:hover {
  grid-area: Imagen2;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenesp--3 {
  grid-area: Imagen3;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--3:hover {
  grid-area: Imagen3;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenesp--4 {
  grid-area: Imagen4;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--4:hover {
  grid-area: Imagen4;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenesp--5 {
  grid-area: Imagen5;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--5:hover {
  grid-area: Imagen5;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenesp--6 {
  grid-area: Imagen6;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--6:hover {
  grid-area: Imagen6;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

@keyframes un_efecto {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1; }
  50% {
    width: 98%;
    height: 98%;
    opacity: 0.6; }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1; } }

.ImagenesProductos2 {
  display: grid;
  grid-template-rows: 240px;
  grid-template-columns: 35% 20% 20% 30%;
  grid-column-gap: 17px;
  grid-row-gap: 16px;
  grid-template-areas: "Imagen10 Imagen8 Imagen9 Imagen7" "Imagen12 Imagen11 Imagen11 Imagen7";
  margin: 0 50px 20px 50px;
  transition: 1s;
  animation-duration: 3s;
  animation-name: aparecer; }

.imagenesp--7 {
  grid-area: Imagen7;
  justify-items: center;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--7:hover {
  grid-area: Imagen7;
  justify-items: center;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenesp--8 {
  grid-area: Imagen8;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--8:hover {
  grid-area: Imagen8;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenesp--9 {
  grid-area: Imagen9;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--9:hover {
  grid-area: Imagen9;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenesp--10 {
  grid-area: Imagen10;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--10:hover {
  grid-area: Imagen10;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenesp--11 {
  grid-area: Imagen11;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--11:hover {
  grid-area: Imagen11;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.imagenesp--12 {
  grid-area: Imagen12;
  border: solid 1px #D1D8F2;
  transition: color height 1s width 1s; }

.imagenesp--12:hover {
  grid-area: Imagen12;
  border: solid 1px #FCD4D2;
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

@keyframes un_efecto {
  0% {
    width: 100%;
    height: 100%;
    opacity: 1; }
  50% {
    width: 98%;
    height: 98%;
    opacity: 0.6; }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1; } }

/*---------------SECCION INSPIRACION------------------------*/
.citaInspiracion {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 81%;
  font-weight: 700;
  line-height: 80%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.citaInspiracion span {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: 300; }

.contenidoInspiracion {
  margin-left: 20px;
  margin-right: 20px; }

.contenidoInspiracion__bloque1 {
  margin-bottom: 30px; }

.fraseUnoInspiracion {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  font-weight: 700; }

.contenidoInspiracion__bloque1--img1I {
  margin-left: 92px;
  transition: color 0.5s;
  animation-duration: 2s;
  animation-name: aparecer; }

.contenidoInspiracion__bloque1--img1I:hover {
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.contenidoInspiracion__bloque2 {
  margin-bottom: 30px; }

.contenidoInspiracion__bloque2--img2I {
  transition: color 1s;
  animation-duration: 3s;
  animation-name: aparecer; }

.contenidoInspiracion__bloque2--img2I:hover {
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.fraseDosInspiracion {
  color: #999999;
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  font-weight: 700;
  width: 300px;
  margin-left: 150px;
  margin-top: 100px; }

.contenidoInspiracion__bloque2--videoI {
  margin-top: 120px;
  margin-left: 60px; }

.contenidoInspiracion__bloque3--img3I {
  transition: color 1s;
  animation-duration: 3s;
  animation-name: aparecer; }

.contenidoInspiracion__bloque3--img3I:hover {
  animation-name: un_efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 0s; }

.contenidoInspiracion__bloque3--frase {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  font-weight: 700;
  margin-left: 160px;
  width: 300px;
  margin-top: 100px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*---------------SECCION CONTACTO------------------------*/
.HeaderContacto__imagen {
  margin: 15px 15px 15px 15px; }

.fraseUnoContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px; }

.form-check {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #999999; }

.btn {
  font-family: 'Raleway', sans-serif;
  color: #697FB7; }

.btn:hover {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #697FB7; }

/*---------------MOBILE------------------------*/
@media (min-width: 375px) and (max-width: 768px) {
  .Header__logo {
    margin-left: 180px;
    margin-bottom: 100px; }
  .Header__menuPrincipal {
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    width: 90%; }
  .primeraCita {
    font-size: 110%;
    font-weight: 700;
    line-height: 80%;
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
    line-height: 22px; }
  .primeraCita span {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: 300;
    justify-content: center; }
  .Parrafo {
    margin: 0 50px 0  20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start; }
  .parrafo__imagen {
    height: auto;
    width: 400px;
    margin-bottom: 40px; }
  .parrafo__texto {
    align-items: start;
    transition: color 1s;
    animation-duration: 3s;
    animation-name: aparecer;
    font-size: 100%;
    width: 400px;
    margin-left: 10px; }
  .Imagenes {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    margin: 0 50px 10px 50px;
    transition: 1s;
    animation-duration: 3s;
    animation-name: aparecer; }
  .segundaCita {
    font-size: 250%;
    margin: 10px 30px 5px 30px; }
  .container__contactoTitulo {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px; }
  .form-group {
    margin-left: 30px;
    margin-right: 30px; }
  .btn {
    margin-left: 30px; }
  .footer__parrafo {
    color: #666666;
    font-size: 110%;
    font-weight: 700;
    font-family: "Cormorant Garamond";
    float: left;
    margin-top: 50px;
    margin-left: 40px; }
  .footer__redes {
    color: #666666;
    font-size: 110%;
    font-weight: 700;
    font-family: "Cormorant Garamond";
    width: 50%;
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-left: 30px; }
  /*---------------SECCION NOSOTROS MOBILE------------------------*/
  .HeaderNosotros__Imagen {
    width: 95%;
    margin-top: 10px; }
  .TextoNosotros {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    grid-template-areas: "fUnoNosotros"  "pUnoNosotros" "IDosNosotros" "fDosNosotros";
    margin: 10px 20px 0px 20px; }
  .TextoNosotros__frase--1, .TextoNosotros__frase2 {
    font-size: 85%;
    margin-top: 5px;
    margin-bottom: 10px; }
  .TextoNosotros__parrafo--1 {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px; }
  .ImgNosotros__imagen--2 {
    width: 90%;
    margin-top: 10px;
    border: solid 1px #FCD4D2; }
  .TextoNosotros__frase--2 {
    font-size: 85%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px; }
  /*---------------SECCION PRODUCTOS MOBILE------------------------*/
  .HeaderProductos__imagen {
    width: 95%;
    margin-top: 10px; }
  .HeaderProductos__cita {
    font-size: 110%;
    font-weight: 700;
    line-height: 80%;
    margin-top: 5px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
    margin-bottom: 0px;
    line-height: 12px; }
  .ImagenesProductos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    margin: 0 50px 10px 50px;
    transition: 1s;
    animation-duration: 3s;
    animation-name: aparecer; }
  .ImagenesProductos2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    margin: 0 50px 10px 50px;
    transition: 1s;
    animation-duration: 3s;
    animation-name: aparecer; }
  /*---------------SECCION INSPIRACION MOBILE------------------------*/
  .citaInspiracion {
    font-size: 110%;
    font-weight: 700;
    line-height: 80%;
    margin-top: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    margin-left: 30px;
    line-height: 22px; }
  .fraseUnoInspiracion {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 180%; }
  .contenidoInspiracion__bloque1--img1I {
    width: 100%;
    margin-top: 5px;
    margin-left: 5px; }
  .contenidoInspiracion__bloque2--img2I {
    width: 100%;
    margin-top: 5px;
    margin-left: 5px; }
  .fraseDosInspiracion {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
    font-size: 180%; }
  .contenidoInspiracion__bloque2--videoI {
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px; }
  .contenidoInspiracion__bloque3--img3I {
    width: 100%;
    margin-top: 5px;
    margin-left: 5px; }
  .contenidoInspiracion__bloque3--frase {
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: 80px;
    font-size: 180%; }
  /*---------------SECCION CONTACTO MOBILE------------------------*/
  .HeaderContacto__imagen {
    width: 95%;
    margin-top: 10px; }
  .fraseUnoContacto {
    margin-top: 10px;
    font-size: 200%;
    margin-bottom: 5px;
    margin-left: 60px; }
  .form-check {
    margin-left: 30px; } }
